-- DEFINITIVE FIX: Handling dependencies and fixing RLS recursion
-- This script uses CASCADE to handle existing policies that depend on the old is_admin function

-- 1. Remove old function and ALL dependent policies to start fresh
DROP FUNCTION IF EXISTS public.is_admin() CASCADE;

-- 2. Create the SECURITY DEFINER function to bypass RLS recursion safely
CREATE OR REPLACE FUNCTION public.is_admin()
RETURNS boolean
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  RETURN EXISTS (
    SELECT 1 
    FROM public.employees 
    WHERE id = auth.uid() 
    AND role = 'admin'
  );
END;
$$;

-- 3. Restore/Update policies for ALL managed tables using the new function
-- Employees Table
DROP POLICY IF EXISTS "Admins can manage employees" ON public.employees;
DROP POLICY IF EXISTS "Users can view own employee record" ON public.employees;
CREATE POLICY "Admins can manage employees" ON public.employees FOR ALL TO authenticated USING (public.is_admin()) WITH CHECK (public.is_admin());
CREATE POLICY "Users can view own employee record" ON public.employees FOR SELECT TO authenticated USING (auth.uid() = id);

-- Appreciation Letters Table
DROP POLICY IF EXISTS "Admins can manage letters" ON public.appreciation_letters;
DROP POLICY IF EXISTS "Users can view own letters" ON public.appreciation_letters;
CREATE POLICY "Admins can manage letters" ON public.appreciation_letters FOR ALL TO authenticated USING (public.is_admin()) WITH CHECK (public.is_admin());
CREATE POLICY "Users can view own letters" ON public.appreciation_letters FOR SELECT TO authenticated USING (auth.uid() = employee_id OR public.is_admin());

-- Courses Table
DROP POLICY IF EXISTS "Admins manage courses" ON public.courses;
CREATE POLICY "Admins manage courses" ON public.courses FOR ALL TO authenticated USING (public.is_admin()) WITH CHECK (public.is_admin());
CREATE POLICY "Users view own courses" ON public.courses FOR SELECT TO authenticated USING (auth.uid() = employee_id);

-- Admin Orders Table
DROP POLICY IF EXISTS "Admins manage orders" ON public.admin_orders;
CREATE POLICY "Admins manage orders" ON public.admin_orders FOR ALL TO authenticated USING (public.is_admin()) WITH CHECK (public.is_admin());
CREATE POLICY "Users view own orders" ON public.admin_orders FOR SELECT TO authenticated USING (auth.uid() = employee_id);

-- Salary Slips Table
DROP POLICY IF EXISTS "Admins manage slips" ON public.salary_slips;
CREATE POLICY "Admins manage slips" ON public.salary_slips FOR ALL TO authenticated USING (public.is_admin()) WITH CHECK (public.is_admin());
CREATE POLICY "Users view own slips" ON public.salary_slips FOR SELECT TO authenticated USING (auth.uid() = employee_id);

-- 4. Final Security Check
ALTER TABLE public.employees ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.appreciation_letters ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.courses ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.admin_orders ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.salary_slips ENABLE ROW LEVEL SECURITY;
